<h1>Paterson Production Schedule</h1>
<div class="btn-group" role="group" aria-label="Basic example">
    <p>
        Search by:
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="search_all()">All</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="search_latches()">Latches</button>
        <button mdbBtn type="button" color="primary" outline="true" class="waves-light" mdbWavesEffect (click)="search_clamps()">Clamps</button>
    </p>
</div>
<table>
        <th bgcolor='green'>Shipped/Shipping</th>
        <th bgcolor='yellow'>Waiting on VA</th>
        <th bgcolor='Red'>Stopped</th>
        <th bgcolor='lightblue'>Stock</th>
        <th bgcolor='orange'>Delayed</th>
</table>
<h1></h1>
<table *ngIf="prod_status">
    <tr>
        <th>Item Number</th>
        <th>State</th>
        <th>Type</th>
        <th>Certs</th>
        <th>NPX/DLT</th>
        <th>PO #</th>
        <th>Part #</th>
        <th>Quantity</th>
        <th>Needs</th>
        <th>Status</th>
        <th>Ship Date</th>
    </tr>
    <tr *ngFor="let status of prod_status">
        <td style="background-color:{{status.color}}">{{ status.number }}</td>
        <td style="background-color:{{status.color}}">{{ status.state }}</td>
        <td style="background-color:{{status.color}}">{{ status.type }}</td>
        <td style="background-color:{{status.color}}">{{ status.cert }}</td>
        <td style="background-color:{{status.color}}">{{ status.npx }}</td>
        <td style="background-color:{{status.color}}">{{ status.po }}</td>
        <td style="background-color:{{status.color}}">{{ status.part_number }}</td>
        <td style="background-color:{{status.color}}">{{ status.quantity }}</td>
        <td style="background-color:{{status.color}}">{{ status.needs }}</td>
        <td style="background-color:{{status.color}}">{{ status.notes }}</td>
        <td style="background-color:{{status.color}}">{{ status.ship_date }}</td>
    </tr>
</table>